*.pyc
# don't include third-party dependencies.
!lib/README.md
.DS_Store
/lib
.idea/workspace.xml
/client_secrets_dev.json
/static/secrets/client_secrets.json
/static/secrets/accessKeys.csv
/static/secrets/client_secrets_prod.json
/static/secrets/
/static/secrets/client_secrets_dev.json
