<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Amazing Kirbi</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 70rem;">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if my_user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/user_page">My Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ logout_url }}">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ login_url }}">Sign In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block container %}
    {% endblock %}

    <footer class="footer">
        <p>&copy; Alessandro Aleotti 2017</p>
    </footer>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>