{% macro print_item(item, maxwidth, current) %}
    <div

            class="card"
            {% if item==nullobj %}
            style="border:0;"
            {% endif %}

    >
        {% if item!=nullobj %}

            <img class="card-img-top img-fluid" src="{{ item.image }}">
            <div class="card-block">

                <{% if current %}h5{% else %}h6{% endif %} class="card-title">{{ item.title }}</{% if current %}
                h5{% else %}h6{% endif %}>
                {% if current %}
                    {% if item.subtitle %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
                    {% endif %}
                    {% if item.ristampa %}
                        <h6 class="card-text text-muted">{{ item.ristampa }}</h6>
                    {% endif %}
                    {% if item.serie %}
                        <h6 class="card-text text-muted">{{ item.serie.get().title }}</h6>
                    {% endif %}
                    {% if item.prezzo %}
                        <h6 class="card-text text-muted">{{ item.prezzo }}</h6>
                    {% endif %}
                {% endif %}
            </div>
            <button id="btn{{ getUrlKey(item.title) }}" class="btn btn-sm btn-primary" type="button"
                    data-toggle="modal"
                    data-target="mod{{ getUrlKey(item.title) }}">Sommario
            </button>


            <!-- Modal -->
            <div class="modal fade" id="mod{{ getUrlKey(item.title) }}" role="dialog">
                <div class="modal-dialog modal-sm modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h6 class="modal-title">Sommario {{ item.title }}</h6>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group list-group-flush">
                                {% for desc in item.desc %}
                                    <li class="list-group-item">{{ desc }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <small>
                    {{ item.data.strftime("%d %b %y") }}
                </small>
            </div>
        {% endif %}
    </div>

    <script async language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#btn{{ getUrlKey(item.title) }}").click(function () {
                $("#mod{{ getUrlKey(item.title) }}").modal();
            });
        });
    </script>
{% endmacro %}

{% macro week_block(title, items, sumsett, nColumns, maxwidth, current) %}
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">{{ title }}</h3>
            {% if items %}
                {%- for row in items|batch(nColumns,nullobj) %}
                    <div class="card-deck">
                        {% for column in row %}
                            {{ print_item(column, maxwidth, current) }}
                            <p></p>
                        {% endfor %}
                    </div>
                    <p></p>
                {% endfor %}
            {% else %}
                <div class="jumbotron">
                    <h2>Nessuna Uscita</h2>
                </div>
            {% endif %}
        </div>
        {% if title != "Prossime Settimane" %}
            <div class="card-footer">
                <h4 align="right">Totale Settimana: € {{ sumsett }}</h4>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% extends "index.html" %}
{% block container %}
    <p></p>
    {{ week_block("Settimana Precedente",past_issues, past_sum, 5, 30, False) }}
    <p></p>
    {{ week_block("Questa Settimana", issues, week_sum, 3, 30, True) }}
    <p></p>
    {{ week_block("Prossime Settimane",future_issues, 0, 5, 30, False) }}

{% endblock %}