{% macro print_item(item, maxwidth, current) %}

    <div
            {% if current %}
                class="card"
                {% if item==nullobj %}
                style="border:0;"
                {% endif %}
            {% else %}
                class="card card-inverse" style="background-color: #333; border-color: #555;
                    {% if item==nullobj %}
                        border:0;
                    {% endif %}
                    "
            {% endif %}
    >
        {% if item!=nullobj %}
{#            {% if current %}#}
                <img class="card-img-top img-fluid" src="{{ item.image }}">
                <div class="card-block">
                    <h4 class="card-title">{{ item.title }}</h4>
                    {% if item.subtitle %}
                        <h6 class="card-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
                    {% endif %}
                    {% if item.ristampa %}
                        <h6 class="card-text text-muted">{{ item.ristampa }}</h6>
                    {% endif %}
                    {% if item.serie %}
                        <h6 class="card-text text-muted">{{ item.serie.get().title }}</h6>
                    {% endif %}
                    {% if item.prezzo %}
                        <h6 class="card-text text-muted">{{ item.prezzo }}</h6>
                    {% endif %}
                </div>
                {% if current %}
                    <ul class="list-group">
                        {% for desc in item.desc %}
                            <li class="list-group-item">
                                <small>{{ desc }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
{#            {% else %}#}
{#                 <img class="card-img-top img-fluid" src="{{ item.image }}">#}
{#                <div class="card-block">#}
{#                    <h4 class="card-title">{{ item.title }}</h4>#}
{#            {% endif %}#}
            <div class="card-footer">{{ item.data.strftime("%d %b %y") }}</div>
        {% endif %}
    </div>
{% endmacro %}

{% macro week_block(title, items, sumsett, nColumns, maxwidth, current) %}

    <div
            {% if current %}
                class="card"
            {% else %}
                class="card card-inverse" style="background-color: #333; border-color: #555;"
            {% endif %}
    >

        <div class="card-block">
            <h3 class="card-title">{{ title }}</h3>
            {% if items %}
                {%- for row in items|batch(nColumns,nullobj) %}
                    <div class="card-deck">
                        {% for column in row %}
                            {{ print_item(column, maxwidth, current) }}
                            <p></p>
                        {% endfor %}
                    </div>
                    <p></p>
                {% endfor %}
            {% else %}
                <div class="jumbotron">
                    <h2>Nessuna Uscita</h2>
                </div>
            {% endif %}
        </div>
        {% if title != "Prossime Settimane" %}
            <div class="card-footer">
                <h4 align="right">Totale Settimana: € {{ sumsett }}</h4>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% extends "index.html" %}
{% block container %}
    <p></p>
    {{ week_block("Settimana Precedente",past_issues, past_sum, 5, 30, False) }}
    <p></p>
    {{ week_block("Questa Settimana", issues, week_sum, 3, 30, True) }}
    <p></p>
    {{ week_block("Prossime Settimane",future_issues, 0, 5, 30, False) }}
{% endblock %}