{% macro print_item(item, maxwidth) %}
    {#    <div class="card" style="min-width:{{ maxwidth }}%; max-width:{{ maxwidth }}%;">#}
    {% if item == nullobj %}
        <div class="card" style="border: 0px;">

        </div>
    {% else %}
    <div class="card">
        <img class="card-img-top img-fluid" src="{{ item.image }}">
        <div class="card-block">
            <h4 class="card-title">{{ item.title }}</h4>
            {% if item.subtitle %}
                <h6 class="card-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
            {% endif %}
            {% if item.ristampa %}
                <h6 class="card-text text-muted">{{ item.ristampa }}</h6>
            {% endif %}
            {% if item.serie %}
                <h6 class="card-text text-muted">{{ item.serie.get().title }}</h6>
            {% endif %}
            {% if item.prezzo %}
                <h6 class="card-text text-muted">{{ item.prezzo }}</h6>
            {% endif %}
        </div>
        <div class="card-footer">{{ item.data.strftime("%d %b %y") }}</div>
    </div>
    {% endif %}
{% endmacro %}

{% macro week_block(title, items, sumsett, nColumns, maxwidth) %}
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">{{ title }}</h3>
            {%- for row in items|batch(nColumns,nullobj) %}
                <div class="card-deck">
                    {% for column in row %}
                        {{ print_item(column, maxwidth) }}
                        <p></p>
                    {% endfor %}
                </div>
                <p></p>
            {% else %}
                <div class="jumbotron">
                    <h2>No Issues</h2>
                </div>
            {% endfor %}

        </div>
        {% if title != "Prossime Settimane" %}
            <div class="card-footer">
                <h4 align="right">Totale Settimana: € {{ sumsett }}</h4>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% extends "index.html" %}
{% block container %}
    <p></p>
    {{ week_block("Settimana Passata",past_issues, past_sum, 4, 30) }}
    <p></p>
    {{ week_block("Questa Settimana", issues, week_sum, 3, 40) }}
    <p></p>
    {{ week_block("Prossime Settimane",future_issues, 0, 4, 30) }}
{% endblock %}