{% extends "index.html" %}
{% block container %}

    <p></p>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Mostra una Serie</h4>
            <div class="form-inline">
                <form id="formSerie" method="post" class="form-horizontal"
                      role="form">
                    <select id="selectSerie" name="serie" data-placeholder="Scegli una Serie..." class="chosen-select"
                            style="max-width:350px;"
                            tabindex="2" title="selectSerie">
                        {% for serie in list_series(series) %}
                            <option value="{{ serie }}">{{ serie }}</option>
                        {% endfor %}
                    </select>
                    <button id="sendSerie" type="button" class="btn btn-primary selectpill">Mostra Serie</button>
                </form>
            </div>
        </div>
    </div>

    <p></p>
    <div class="card">
        <div class="card-block" id="results">
        </div>
    </div>
{% endblock %}
